/** @format */

@import "./united/bootstrap";

@import "./general/sections";

#background-overlay {
    background-size: cover;
    height: 100vh;
    left: 0;
    opacity: 0.2;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.page {
    .page-title {
        @extend .mt-1;
        @extend .mb-3;
        @extend .pb-2;
        @extend .border-bottom;

        display: grid;
        grid-template-columns: minmax(1px, 50%) minmax(1px, 50%);

        & > .title {
            @extend .h3;
        }
        & > .handlers {
            text-align: right;

            .link {
                font-size: small;
                padding: 2px 5px;
                text-decoration: none;

                .icon {
                    margin-right: 3px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .overflown {
        overflow-y: auto;
    }

    #global-loading {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        left: 0px;
        padding-top: 30%;
        position: fixed;
        text-align: center;
        top: 0px;
        width: 100%;
        z-index: calc(var(--bs-modal-zindex) + 10);

        &:not(.htmx-request) {
            visibility: hidden;
        }
    }

    footer {
        @extend .container;
        @extend .text-center;
        @extend .py-5;
        @extend .mt-5;
        @extend .border-top;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(90px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-90px);
    }
}

#main-content {
    // view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
    animation: 180ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        200ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
